<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.carecheckkoreait.mapper.PatientMapper">

    <insert id="insertPatient" keyProperty="patientId" useGeneratedKeys="true">
        insert into patient_tb
        values(default, #{patientName}, #{regidentNum}, #{phoneNum}, now(), now())
    </insert>
    <select id="selectPatientById" resultType="com.korit.carecheckkoreait.entity.Patient">
        select
            *
        from
            patient_tb
        where
            patient_id = #{patientId}
    </select>

</mapper>